<launch>


  <!-- First launch the kinect2 bridge -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />

  <!-- run the tf transformation -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 1.4 0 1 0 0 base kinect2_base_link 100" />

  <!-- automatically run --> 
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="kinect2/qhd/image_color_rect" />
    <remap from="camera_info" to="kinect2/qhd/camera_info" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="compressed" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="16h5" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.045}
    ]
    </rosparam>
  </node>
</launch>
